* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    background-color: #C7E0F4;
    /* color: white; */
    padding: 14px 28px;
    font-size: 34px;
}

.header {
    height: 50px;
}


.tile {
    float: left;
    /* width: 100px; */
    /* height: 100px; */
    margin: 0 10px 10px 0;
    /* padding: 20px 20px 20px; */
    border-radius: 5px;
    text-align: center;
    /* background-color: #d8d8d8; */
}


.flip-container {
	perspective: 1000;
    
}
	/* flip the pane when hovered */
	 .flip-container.showloading .flipper {
		transform: rotateY(180deg);
        
	}

.flip-container, .front, .back {
	width: 300px;
	height: 150px;
}

/* flip speed goes here */
.flipper {
	
	transform-style: preserve-3d;
    transition: 1s;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	background-color: lightgrey;
	padding-top: 20px;
}

.front span {
    display: block;
    line-height: 20px;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color: rgba(211, 211, 211, 0.43);
}


.back-title img {
    margin-top: 25px;
}

